{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Панель администратора ДКЖ45.РФ">
    <meta name="keywords" content="Панель администратора ДКЖ45.РФ">
    <meta name="author" content="mal'fin">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <title>ОШИБКА 404 | ISMticket</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/feather-icon.css' %}">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/chartist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/date-picker.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="//cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">
</head>
<body class="dark-only">
<!-- tap on top starts-->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<!-- tap on tap ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- error-404 start-->
    <div class="error-wrapper">
        <div class="container">
            <div class="error-heading">
                <h2 class="headline font-danger">404</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <p class="sub-content">Страница, на которую вы пытаетесь перейти, в настоящее время недоступна.</p>
                <br/>
                <p class="sub-message"> Это может быть связано с тем, что страница не существует или была
                    перемещена.</p>
            </div>
            <div><a class="btn btn-danger-gradien btn-lg" href="{% url 'mainapp:index' %}">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
            </div>
        </div>
    </div>
    <!-- error-404 end      -->
</div>
<!-- latest jquery-->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap js-->
<script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- feather icon js-->
<script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'assets/js/icons/feather-icon/feather-icon.js' %}"></script>
<!-- scrollbar js-->
<script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
<script src="{% static 'assets/js/scrollbar/custom.js' %}"></script>
<!-- Sidebar jquery-->
<script src="{% static 'assets/js/config.js' %}"></script>
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
{#<script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>#}
<script src="{% static 'assets/js/dashboard/default.js' %}"></script>
<script src="{% static 'assets/js/notify/index.js' %}"></script>
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.js' %}"></script>
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.en.js' %}"></script>
<script src="{% static 'assets/js/datepicker/date-picker/datepicker.custom.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/main.js' %}"></script>
</body>

</html>