{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Мои запросы</h5><span>Выберите, чтобы перейти</span>
        </div>
        {% if ticket %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Тема</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ticket %}
                        <tr>
                            <th scope="row">{{ item.pk }}</th>
                            {% if item.status == '0' %}
                                <td class="text-white">Открыт</td>
                            {% elif item.status == '1' %}
                                <td class="text-success">Ожидает ответа</td>
                            {% elif item.status == '2' %}
                                <td class="text-danger">Закрыт</td>
                            {% endif %}
                            <td>{{ item.title }}</td>
                            <td>{{ item.date }}</td>
                            <td><a href="{% url 'mainapp:open_ticket' item.pk %}">Открыть</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h3 class="m-3 text-center">На данный момент у вас нет запросов.</h3>
        {% endif %}

    </div>
{% endblock %}